<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zootopia_mobile"
        tools:targetApi="31"
        android:usesCleartextTraffic="true"
        >
        <activity
            android:name=".animaux.RecylerAnimaux"
            android:exported="false" />
        <activity
            android:name=".animaux.AffichageAnimaux"
            android:exported="false" />
        <activity
            android:name=".activite.Activite"
            android:exported="false" />
        <activity
            android:name=".activite.RecyclerActivite"
            android:exported="false" />
        <activity
            android:name=".reservation.RecyclerReservation"
            android:exported="false" />
        <activity
            android:name=".magasin.RecyclerPanier"
            android:exported="false" />
        <activity
            android:name=".magasin.RecyclerItem"
            android:exported="false" />
        <activity
            android:name=".magasin.ListeItem"
            android:exported="false" />
        <activity
            android:name=".magasin.DetailBillet"
            android:exported="false" />
        <activity
            android:name=".magasin.Confirmation"
            android:exported="false" />
        <activity
            android:name=".magasin.ListePanier"
            android:exported="false" />
        <activity
            android:name=".reservation.DetailReservtion"
            android:exported="false" />
        <activity
            android:name=".reservation.ListeReservation"
            android:exported="false" />
        <activity
            android:name=".reservation.ModifierReservation"
            android:exported="false" />
        <activity
            android:name=".reservation.AjouterReservation"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <activity
            android:name=".ZooLocation"
            android:exported="false"
            android:label="@string/title_activity_zoo_location" />
        <activity
            android:name=".menuNavigation"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDem2ibU_mpZSlVD1RF6Ere9rWOA97VtO8" />
    </application>

</manifest>